DataCollector/DataCollector.Api/Service References/DataRelayService/DataRelayService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataRelayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.5.133.1/DataRelay.WcfHost/DataRelayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.5.133.1/DataRelay.WcfHost/DataRelayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataRelayService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IDataRelayService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IDataRelayService_KnockKnock_InputMessage">
    <wsdl:part name="parameters" element="tns:KnockKnock" />
  </wsdl:message>
  <wsdl:message name="IDataRelayService_KnockKnock_OutputMessage">
    <wsdl:part name="parameters" element="tns:KnockKnockResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataRelayService">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRelayService/Send" message="tns:IDataRelayService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRelayService/SendResponse" message="tns:IDataRelayService_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KnockKnock">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataRelayService/KnockKnock" message="tns:IDataRelayService_KnockKnock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataRelayService/KnockKnockResponse" message="tns:IDataRelayService_KnockKnock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataRelayService" type="tns:IDataRelayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/IDataRelayService/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KnockKnock">
      <soap:operation soapAction="http://tempuri.org/IDataRelayService/KnockKnock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataRelayService">
    <wsdl:port name="BasicHttpBinding_IDataRelayService" binding="tns:BasicHttpBinding_IDataRelayService">
      <soap:address location="http://10.5.133.1/DataRelay.WcfHost/DataRelayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>